

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Non ricordi la password e non sai cosa fare? Clicca qui!
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                @* --------- PAGINA DEL CONTENT ------- *@
                <button id="btn_carta"><i class="bi bi-newspaper"></i></button>
                <button id="btn_forbici"><i class="bi bi-scissors"></i></button>
                <button id="btn_sasso"><img style="width:20px; height:20px" src="~/Content/imgs/stone.jpg"/></button>
                <p id="risultato"></p>
                <div id="punteggio_utente">Punteggio Utente: 0</div>
                <div id="punteggio_pc">Punteggio PC: 0</div>

            </div>
        </div>
    </div>

</div>

