@{
    ViewBag.Title = "Home Page";
}



<main>



    <div class="container-fluid">
        <div class="row">
            <img style="height:300px ; object-fit:cover;" class="w-100" src="https://c4.wallpaperflare.com/wallpaper/365/229/234/touring-xdrive-2017-530d-wallpaper-preview.jpg" />
        </div>
    </div>



    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

                <div class="my-3">
                    @if (TempData["Errore"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["Errore"]
                        </div>
                    }
                </div>

            </div>

            <div class="col-12">
                <p class="display-3">Benvenuto nel Portale della Polizia di Stato</p>
            </div>
            @if (Session["DatiAgenteLoggato"] != null)
            {
                <div class="text-center">
                    <h5 class="text-info"> fai il logout per visualizzare di nuovo la pagina di Login.</h5>
                </div>

            }
            else
            {
                <div class="text-center">
                    <h5 class="text-danger"> Devi effettuare il login per visualizzare le categorie disponibili <br /> ( NomeAgente: Antonio  |  password: Rizzuti ) </h5>
                </div>

            }

        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

                @if (Session["DatiAgenteLoggato"] != null)
                {

                }
                else
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                @*MINIGIOCO QUI*@
                <div class="mt-5">
                    @Html.Partial("_noiaFight")
                </div>
            </div>
        </div>
    </div>
</main>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        function hideAlertAfterThreeSeconds() {
            setTimeout(function () {
                $('.alert').fadeOut('slow');
            }, 3000);
        }



        $(document).ready(function () {
            hideAlertAfterThreeSeconds();

            $("#btn_carta").click(() => mossaUtente('carta'));
            $("#btn_forbici").click(() => mossaUtente('forbici'));
            $("#btn_sasso").click(() => mossaUtente('sasso'));
            let ptUtente = 0;
            let ptPc = 0;

            const mossaComputer = () => {
                let mossaComputer = Math.floor(Math.random() * 3);

                switch (mossaComputer) {
                    case 0:
                        return 'carta';
                    case 1:
                        return 'forbici';
                    case 2:
                        return 'sasso';

                }
            }

            const mossaUtente = (mossa) => {
                let computerMOVE = mossaComputer();
                let mossaUtente = mossa;

                if (computerMOVE === mossaUtente) {

                    PunteggioTotale('Pareggio');
                    return $("#risultato").html(`Hai Scelto: ${mossaUtente}. Il Computer ha scelto: ${computerMOVE}: <span class='text-info fs-5'> Pareggio </span>`); 

                } else if (computerMOVE === 'carta' && mossaUtente === 'forbici') {

                    PunteggioTotale('Hai Vinto');
                    return $("#risultato").html(`Hai Scelto: ${mossaUtente}. Il Computer ha scelto: ${computerMOVE}: <span class='text-success fs-5'> Hai Vinto </span>`); 

                } else if (computerMOVE === 'carta' && mossaUtente === 'sasso') {

                    PunteggioTotale('Hai Perso');
                    return $("#risultato").html(`Hai Scelto: ${mossaUtente}. Il Computer ha scelto: ${computerMOVE}:  <span class='text-danger fs-5'> Hai Perso </span>`); 

                } else if (computerMOVE === 'forbici' && mossaUtente === 'carta') {

                    PunteggioTotale('Hai Perso');
                    return $("#risultato").html(`Hai Scelto: ${mossaUtente}. Il Computer ha scelto: ${computerMOVE}: <span class='text-danger fs-5'> Hai Perso </span>`);

                } else if (computerMOVE === 'forbici' && mossaUtente === 'sasso') {

                    PunteggioTotale('Hai Vinto');
                    return $("#risultato").html(`Hai Scelto: ${mossaUtente}. Il Computer ha scelto: ${computerMOVE}: <span class='text-success fs-5'> Hai Vinto </span>`); 

                } else if (computerMOVE === 'sasso' && mossaUtente === 'carta') {

                    PunteggioTotale('Hai Vinto');
                    return $("#risultato").html(`Hai Scelto: ${mossaUtente}. Il Computer ha scelto: ${computerMOVE}: <span class='text-success fs-5'> Hai Vinto </span>`); 

                } else if (computerMOVE === 'sasso' && mossaUtente === 'forbici') {

                    PunteggioTotale('Hai Perso');
                    return $("#risultato").html(`Hai Scelto: ${mossaUtente}. Il Computer ha scelto: ${computerMOVE}: <span class='text-danger fs-5'> Hai Perso </span>`); 
                }
               
            }

            const PunteggioTotale = (string) => {
               

                if (string === 'Hai Vinto') {
                     ptUtente++;
                } else if (string === 'Hai Perso') {
                     ptPc++;
                } else if (string === 'Pareggio') {
                    return;
                
                }

                $('#punteggio_utente').text(`Punteggio Utente: ${ptUtente}`)
                $('#punteggio_pc').text(`Punteggio PC: ${ptPc}`)

            }
        });
    </script>

}







 