@{
    ViewBag.Title = "Home Page";
}



<main>

    <div class="container-fluid">
        <div class="row">
            <img style="height:300px ; object-fit:cover;" class="w-100" src="https://c4.wallpaperflare.com/wallpaper/365/229/234/touring-xdrive-2017-530d-wallpaper-preview.jpg" />
        </div>
    </div>
   


    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="display-3">Benvenuto nel Portale della Polizia di Stato</p>
            </div>
        </div>
    </div>


</main>