@{
    ViewBag.Title = "Home Page";
}



<main>



    <div class="container-fluid">
        <div class="row">
            <img style="height:300px ; object-fit:cover;" class="w-100" src="https://c4.wallpaperflare.com/wallpaper/365/229/234/touring-xdrive-2017-530d-wallpaper-preview.jpg" />
        </div>
    </div>



    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

                <div class="my-3">
                    @if (TempData["Errore"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["Errore"]
                        </div>
                    }
                </div>

            </div>

            <div class="col-12">
                <p class="display-3">Benvenuto nel Portale della Polizia di Stato</p>
            </div>
            @if (Session["DatiAgenteLoggato"] != null)
            {
                <div class="text-center">
                    <h5 class="text-info"> fai il logout per visualizzare di nuovo la pagina di Login.</h5>
                </div>
               
            }
            else
            {
                <div class="text-center">
                    <h5 class="text-danger"> Devi effettuare il login per visualizzare le categorie disponibili <br /> ( NomeAgente: Antonio  |  password: Rizzuti ) </h5>
                </div>

            }

        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

                @if (Session["DatiAgenteLoggato"] != null)
                {

                }
                else
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </div>
    </div>

    <!--<div class="container">
        <div class="row justify-content-center">
            <div class="col-8">-->
                @* MINIGIOCO QUI *@
                <!--<div class="mt-5">
                    @Html.Partial("_noiaFight")
                </div>
            </div>
        </div>
    </div>-->
</main>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
    function hideAlertAfterThreeSeconds() {
        setTimeout(function () {
            $('.alert').fadeOut('slow');
        }, 3000);
    }
    $(document).ready(function () {
        hideAlertAfterThreeSeconds();
    });
    </script>

}
